<div class="container">
  <div *ngIf="this.loadingSpinner" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.loadingSpinner">
    <h3 tabindex="0" class="page-title">Productos de la Tienda</h3>
    <div class="row">
      <div class="col s12 m6 l3" *ngFor="let product of this.productsDatabase">
        <div class="card" id="productCard">
          <div class="card-image">
            <img tabindex="0" src="{{product.img_url}}" alt="Imagen de {{product.name}}">
          </div>
          <div class="card-content center-align">
            <p tabindex="0" class="product-title">{{product.name}}</p>
            <p tabindex="0"><b>{{product.price}}€</b></p>
          </div>
          <div class="card-action center-align">
            <a aria-label="Añadir al Carrito" tabindex="0" (click)="addCart(product)" class="waves-effect waves-light blue accent-4 btn">
              Añadir <i class="material-icons right">add_shopping_cart</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>