<div class="container">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/images/xiaomi.png">
          </div>
          <div class="card-content center-align">
            <h5>Xiaomi Mi 10T</h5>
          </div>
          <div class="card-action center-align">
            <a class="waves-effect waves-light blue accent-4 btn">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/images/iphone13.png">
          </div>
          <div class="card-content center-align">
            <h5>Iphone 13 Pro Max</h5>
          </div>
          <div class="card-action center-align">
            <a class="waves-effect waves-light blue accent-4 btn">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/images/oppo.webp">
          </div>
          <div class="card-content center-align">
            <h5>Oppo Find X5</h5>
          </div>
          <div class="card-action center-align">
            <a class="waves-effect waves-light blue accent-4 btn">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>