.page-title {
  font-size: x-large;
  text-decoration: underline;
  text-decoration-color: #448aff;
}

.preloader-wrapper {
  margin-top: 20%;
  margin-left: 50%;
  margin-bottom: 20%;
}

.total-pagar {
  font-size: xx-large;
  padding: 10px;
}

.pay-card {
  border-style: dotted;
  border-radius: 25px;
  border-color: #448aff;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
}

.no-items-msg {
  color: rgb(147, 27, 27);
  font-size: x-large;
}

.pay-btn {
  border-radius: 5px;
}

.tip-msg {
  font-size: larger;
  border-radius: 10px;
  padding: 10px;
  border-left: 6px solid #2979ff;
  background-color: #bbdefb;
}