<div class="container">
  <div *ngIf="this.loadingSpinner" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.loadingSpinner">
    <div class="row">
      <p class="page-title"> Tus productos en el Carrito</p>
      <div class="col s12 m6 l3" *ngFor="let product of this.cartProducts">
        <div class="card" id="productCard">
          <div class="card-image">
            <img src="{{product.img_url}}">
          </div>
          <div class="card-content center-align">
            <p class="product-title">{{product.name}}</p>
            <p><b>{{product.price}}€</b></p>
          </div>
          <div class="card-action center-align">
            <a (click)="deleteProduct(product.id)" class="waves-effect waves-light blue accent-4 btn">
              Eliminar <i class="material-icons right">remove_shopping_cart</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="total-pagar">
      <p>Total a pagar: <b>{{this.totalPrice}}€</b></p>
    </div>
  </div>
</div>
