<div>
  <nav class="blue accent-2">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">FUTURA</a>
      <a href="#" data-target="menu-responsive" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" *ngIf="userLogged|async as user">{{user.email}}</a></li>
        <li><a routerLink="/mi-cuenta" *ngIf="!isLogged"><i class="material-icons left">person</i>Iniciar Sesión</a></li>
        <li><a (click)="signOut()" *ngIf="isLogged"><i class="material-icons left">person</i>Cerrar Sesión</a></li>
        <li><a href=""><i class="material-icons left">shopping_cart</i>Carrito</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="hide-on-med-and-down">
  <nav class="blue accent-3 nav-center">
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="">Móviles</a></li>
        <li><a href="">Portátiles</a></li>
        <li><a href="">Consolas</a></li>
        <li><a href="">Electrodomésticos</a></li>
        <li><a href="">Videojuegos</a></li>
        <li><a href="">Sobremesas</a></li>
        <li><a href="">Ofertas</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- MOBILE MENU -->
<ul class="sidenav" id="menu-responsive">
  <li><a routerLink="/mi-cuenta"><i class="material-icons left">person</i>Mi cuenta</a></li>
  <li><a href=""><i class="material-icons left">shopping_cart</i>Carrito</a></li>
  <li><a href="">Móviles</a></li>
  <li><a href="">Portátiles</a></li>
  <li><a href="">Consolas</a></li>
  <li><a href="">Electrodomésticos</a></li>
  <li><a href="">Videojuegos</a></li>
  <li><a href="">Sobremesas</a></li>
  <li><a href="">Ofertas</a></li>
</ul>
<!-- END OF MOBILE MENU -->
