.logout-btn{
  margin-top: 20px;
}

.entry-msg{
  font-size: xx-large;
}

.mod-title{
  font-size: x-large;
  text-decoration: underline;
  text-decoration-color: #448aff;
}

label{
  color: black;
  font-size: larger;
}