hr{
  color: #448aff;
}

.password-info{
  color: #686868;
  display: none;
}

nav{
  margin-top: 15px;
  background-color: white;
  box-shadow: none;
}

.breadcrumb:before {
  color: #448aff;
}

.breadcrumb, .breadcrumb:last-child {
  color: #000000;
}

.red-info{
  display: flex;
  color: rgb(141, 20, 20);
}

.preloader-wrapper{
  margin-left: 20px;
}

.error-div{
  color: rgb(172, 28, 28);
  margin-bottom: 20px;
  font-size: larger;
}

.manual-text {
  font-size: larger;
}

:focus {
  outline: 5px solid rgb(255, 111, 0);   
}