<div class="container">
  <h4>Formulario de Registro</h4>
  <p>Los datos se guardarán en el <b>Firebase</b> de la Tienda.</p>
  <hr>
  <div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="first_name" id="first_name" type="text" class="validate" required>
          <label for="first_name"><b>Nombre</b></label>
        </div>
        <div class="input-field col s6">
          <input formControlName="last_name" id="last_name" type="text" class="validate" required>
          <label for="last_name"><b>Apellidos</b></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="email" id="email" type="email" class="validate" required>
          <label for="email"><b>Email</b></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="password" id="password" type="password" class="validate" required>
          <label for="password"><b>Contraseña</b></label>
          <p class="password-info" [class.red-info]="this.form.get('password')?.invalid && this.form.get('password')?.touched">	&bull; La contraseña debe tener al menos 8 caracteres.</p>
        </div>
      </div>
      <div class="row">
        <button [disabled]="form.invalid" class="btn waves-effect waves-light blue accent-2 hoverable col l3 s10" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
        <div *ngIf="this.loadingSpinner" class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>