hr{
  color: #448aff;
}

.password-info{
  color: #686868;
  display: none;
}

.red-info{
  display: flex;
  color: rgb(141, 20, 20);
}

.preloader-wrapper{
  margin-left: 20px;
}

.error-div{
  color: rgb(172, 28, 28);
  margin-bottom: 20px;
  font-size: larger;
}