<div class="container">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a routerLink="/" class="breadcrumb">Inicio</a>
        <a routerLink="/iniciar-sesion" class="breadcrumb">Inicio de Sesión</a>
        <a class="breadcrumb"><b>Registro</b></a>
      </div>
    </div>
  </nav>
  <h4 tabindex="0">Formulario de Registro</h4>
  <p tabindex="0" class="manual-text">Los datos se guardarán en el <b>Firebase</b> de la Tienda.</p>
  <hr>
  <div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="register()">
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="name" id="name" type="text" class="validate" required>
          <label for="first_name"><b>Nombre Completo</b></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="email" id="email" type="email" class="validate" required>
          <label for="email"><b>Email</b></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="password" id="password" type="password" class="validate" required>
          <label for="password"><b>Contraseña</b></label>
          <p class="password-info" [class.red-info]="this.form.get('password')?.invalid && this.form.get('password')?.touched">	&bull; La contraseña debe tener al menos 8 caracteres.</p>
        </div>
      </div>
      <div class="error-div" *ngIf="error"> &bull; El email ya ha sido registrado</div>
      <div class="row">
        <button [disabled]="form.invalid" class="btn waves-effect waves-light blue darken-2 hoverable col l3 s10" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
        <div *ngIf="this.loadingSpinner" class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>