<div class="container">
  <h4>Formulario de Registro</h4>
  <p>Los datos se guardarán en el <b>Firebase</b> de la Tienda.</p>
  <hr>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light blue accent-2 hoverable col l3 s12" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>