.register-btn{
  background-color: white;
  color: #448aff;
  border-style: groove;
  border-width: 0.5px;
}

nav{
  background-color: white;
  box-shadow: none;
}

.breadcrumb:before {
  color: #448aff;
}

.breadcrumb, .breadcrumb:last-child {
  color: #000000;
}

.register-btn:hover{
  color: white;
  background-color:#448aff;
  border-style: groove;
  border-width: 0.5px;
  border-color: #448aff ;
}

.card-content .card-title{
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #448aff;
}

.card{
  border-style: groove;
  border-width: 0.5px;
  border-color: #448aff;
}

.btn{
  margin: 10px;
}

.error-div{
  color: rgb(172, 28, 28);
  text-align: center;
}

:focus {
  outline: 5px solid rgb(255, 111, 0);   
}