<div class="container">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a routerLink="/" class="breadcrumb">Inicio</a>
        <a class="breadcrumb"><b>Sobre Nosotros</b></a>
      </div>
    </div>
  </nav>
  <h3 class="page-title">¿Quienes somos?</h3>
  <p class="manual-text">Somos dos estudiantes de la <b>Universidad de La Laguna</b> y esta web ha sido creada para la asignatura de Usabilidad y Accesibilidad.</p>
  <div class="row">
    <div class="row person-card">
      <div class="col s12 m6 l2">
        <img class="about-us-photo" src="../../../assets//images/FotoJeff.PNG" alt="Foto de Jeff">
      </div>
      <div class="col s12 m6 l8">
        <p class="person-name"><b>Jeff Pérez Frade</b></p>
        <p class="person-description">Estudiante de la Universidad de La Laguna con conocimientos técnicos en programación web.</p>
        <div class="row">
          <div class="col s12 m6 l3">
            <a href="https://github.com/jeffperezfrade" class="blue accent-2 waves-effect waves-light btn">Github <i class="material-icons left">code</i></a>
          </div>
          <div class="col s12 m6 l6">
            <a class="blue accent-2 waves-effect waves-light btn">Correo Electrónico<i class="material-icons left">email</i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row person-card">
      <div class="col s12 m6 l2">
        <img class="about-us-photo" src="../../../assets//images/FotoJeff.PNG" alt="Foto de Jeff">
      </div>
      <div class="col s12 m6 l8">
        <p class="person-name"><b>Diego Rodríguez Pérez</b></p>
        <p class="person-description">Estudiante de la Universidad de La Laguna con conocimientos técnicos en programación web.</p>
        <div class="row">
          <div class="col s12 m6 l3">
            <a class="blue accent-2 waves-effect waves-light btn">Github <i class="material-icons left">code</i></a>
          </div>
          <div class="col s12 m6 l6">
            <a class="blue accent-2 waves-effect waves-light btn">Correo Electrónico<i class="material-icons left">email</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
