<div class="container">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a routerLink="/" class="breadcrumb">Inicio</a>
        <a class="breadcrumb"><b>Sobre Nosotros</b></a>
      </div>
    </div>
  </nav>
  <h3 tabindex="0" class="page-title">¿Quienes somos?</h3>
  <p tabindex="0" class="manual-text">Somos dos estudiantes de la <b>Universidad de La Laguna</b> y esta web ha sido creada para la asignatura de Usabilidad y Accesibilidad.</p>
  <div class="row">
    <div class="row person-card">
      <div class="col s12 m6 l2">
        <img tabindex="0" class="about-us-photo" src="../../../assets//images/FotoJeff.PNG" alt="Foto de Jeff" title="Foto de Jeff">
      </div>
      <div class="col s12 m6 l8">
        <p tabindex="0" class="person-name"><b>Jeff Pérez Frade</b></p>
        <p tabindex="0" class="person-description">Estudiante de la Universidad de La Laguna con conocimientos técnicos en programación web.</p>
        <div class="row">
          <div class="col s12 m6 l3">
            <a aria-label="Perfil de Github" tabindex="0" href="https://github.com/jeffperezfrade" class="blue accent-2 waves-effect waves-light btn">Github <i class="material-icons left">code</i></a>
          </div>
          <div class="col s12 m6 l6">
            <a aria-label="Correo Electrónico" tabindex="0" class="blue accent-2 waves-effect waves-light btn">Correo Electrónico<i class="material-icons left">email</i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row person-card">
      <div class="col s12 m6 l2">
        <img tabindex="0" class="about-us-photo" src="../../../assets//images/DiegoRod.jpeg" alt="Foto de Diego">
      </div>
      <div class="col s12 m6 l8">
        <p tabindex="0" class="person-name"><b>Diego Rodríguez Pérez</b></p>
        <p tabindex="0" class="person-description">Estudiante de la Universidad de La Laguna con conocimientos técnicos en programación web.</p>
        <div class="row">
          <div class="col s12 m6 l3">
            <a aria-label="Perfil de Github" href="https://github.com/diegorguezzp" tabindex="0" class="blue accent-2 waves-effect waves-light btn">Github <i class="material-icons left">code</i></a>
          </div>
          <div class="col s12 m6 l6">
            <a aria-label="Correo Electrónico" tabindex="0" class="blue accent-2 waves-effect waves-light btn">Correo Electrónico<i class="material-icons left">email</i></a>
          </div>
        </div>
      </div>
    </div>
    <a aria-label="Volver al Inicio" tabindex="0" routerLink="/" class="back-btn blue darken-2 waves-effect waves-light btn-large">
      <i class="material-icons right">arrow_back</i>
      Volver al Inicio
    </a>
  </div>
</div>
